.background {
    background: url('space.jpg');
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 1200px;
}

.header {
    padding: 30px;
    background-color: white;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
}

.content {
    margin: 0px 30px 100px 30px;
    padding: 30px;
    background-color: white;
    position: relative;
}

